#p_prldr{
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background: linear-gradient(#009999, #66CCCC);
    z-index: 30;
}
  
.contpre{
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50%;top: 48%;
    margin-left:-125px;
    margin-top:-75px;
    color:#fff;
    font-size:40px;
    letter-spacing:-2px;
    text-align:center;
    line-height:35px;
    small{
        font-size: 25px;
    }
}
