.promo {
    min-height: 100vh;
    position: relative;
    padding-top: 205px;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle2;
    }
    &__img{
        display: block;
        position: absolute;
        left: 50%;
        top: 50px;
        z-index: +2;
        &_nout{
            position: absolute;
            top:85px;
            right: 125px;
        }
        &_blok{
            position: absolute;
            top:125px;
            right: 475px;
        }
        &_blok1{
            position: absolute;
            top: 260px;
            right: 125px;
        }
        &_blok2{
            position: absolute;
            top: 205px;
            right: 525px;
        }
    }
    &__anima {
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 320px;
    }
    &__link {
        text-align: center;
        display: inline-block;
        color: #ffffff;
        font-weight: 700;
        &:hover {
            color: white;
            text-decoration: none;
            background:#7ef7e8cb; 
            -moz-box-shadow:0 0 10px rgb(255, 255, 255); 
            -webkit-box-shadow:0 0 10px rgb(255, 254, 254); 
            box-shadow:0 0 10px rgb(255, 255, 255);
        }
    }
    h1{
        display: none;
    }
}

#logo{
    display: none;
}

canvas {
    position: absolute;
    max-height: 350px;
    background: rgba(0, 0, 0, 0);
    left:580px;
    top:160px;
    z-index: +1;
  }
