.promo {
    min-height: 100vh;
    position: relative;
    padding-top: 205px;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__img{
        display: block;
        position: absolute;
        left: 50%;
        top: 50px;
        &_nout{
            position: absolute;
            top:85px;
            right: 125px;
        }
        &_blok{
            position: absolute;
            top:125px;
            right: 475px;
        }
        &_blok1{
            position: absolute;
            top: 260px;
            right: 125px;
        }
        &_blok2{
            position: absolute;
            top: 205px;
            right: 525px;
        }
    }
    &__anima {
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 320px;
    }
    &__link {
        text-align: center;
        display: inline-block;
        color: #ffffff;
        font-weight: 700;
        transition: all .6s ease-in-out;
        &:hover {
            color: $color-burger;
            text-decoration: none;
        }
    }
    h1{
        display: none;
    }
}
#logo{
    display: none;
}

canvas {
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    z-index: -10000;
  }
