@import 'libs/bootstrap-reboot.min';
@import url(http://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
// 'Bad Script'

@import 'base/variables';
@import 'base/mixins';

@import 'libs/animate';
* {
    font-family: 'Lobster', cursive;
    margin: 0;
    padding: 0;
    ::-webkit-scrollbar {
        width: 0;
    }
}
body{
    color: #ffffff;
    background:#1B0834;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin: 25px auto 0 auto;
}

p {
    margin: 0;
}

@import 'blocks/preloader';
@import 'blocks/promo';
@import 'blocks/button';
@import 'blocks/aboute';
@import 'blocks/title';
@import 'blocks/scills';
@import 'blocks/sidepanel';
@import 'blocks/resume';
@import 'blocks/price';
@import 'blocks/portfolio';
@import 'blocks/menu';
@import 'blocks/media';
@import 'blocks/contacts';